<form>
  <h2 class="title">Calculadora de CDB</h2>
  <mat-form-field>
    <mat-label>Valor Inicial (*maior que 0)</mat-label>
    <input matInput placeholder="Valor" name="initialValue" [(ngModel)]="investmentRequest.initialValue"
      type="number" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Meses (*maior que 1)</mat-label>
    <input matInput placeholder="Prazo em meses" name="months" [(ngModel)]="investmentRequest.months" type="number" />
  </mat-form-field>
  <button mat-raised-button type="button" (click)="calculateInvestment()"
    [disabled]="!isInvestmentValid()">Calcular</button>
  <mat-card *ngIf="calculated">
    <mat-card-content>Valor Bruto: {{ investmentResponse?.grossResult | currency: 'BRL' }}</mat-card-content>
    <mat-card-content>Valor Líquido: {{ investmentResponse?.netResult | currency: 'BRL' }}</mat-card-content>
  </mat-card>
</form>